@import 'https://fonts.googleapis.com/css?family=Great+Vibes|Roboto:900';

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.body {
  font-family: 'Roboto', sans-serif; 
}

.body__contents {
  max-width: 960px;
  margin: 0 auto;
}

.header {
  font-family: 'Great Vibes', cursive;
  font-size: 1.5em;
  text-align: center;
  color: #9D222A;
}

.header__contents {
  padding-top: 40px;
}

.search-box {
  background-color: #F2F2F2;
}

.search-box__contents {
  padding-top: 120px;
}

.filters {
  font-size: 0;
}

.filters__col {
  font-size: 1rem;
  display: inline-block;
  width: 50%;
  padding: 10px;
}

.filters-select {
  width: 100%;
  padding: 10px;
  color: #D1D7B9;
  height: 43px;
}

.filters-select:invalid {
  font-size: .8em;
}

.filters-select option {
  background-color: #E2DCDC;
  color: #9E222A;
  border-bottom: 5px solid black;
}

.search-button-box {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

.search-button-box__button {
  font-size: .9em;
  color: white;
  background-color: #9D222A;
  padding: 10px 40px;
  border: none;
}

.logo-box {
  width: 600px;
  margin: 0 auto;
}

.logo-row {
  height: 100px;
  width: 100%;
  font-size: 0;
  margin-top: 20px;
}

.logo-col {
  display: inline-block;
  margin: 20px;
  width: 100px;
  height: 100px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.logo-aci {
  background-image: url('../images/aci.png');
}

.logo-aci_color {
  background-image: url('../images/aci - color.png');
}

.logo-acm {
  background-image: url('../images/acm - fade copy 2.png');
}

.logo-acm_color {
  background-image: url('../images/acm - color.png');
}

.logo-afe {
  background-image: url('../images/AFE - fade.png');
}

.logo-afe_color {
  background-image: url('../images/AFE color.png');
}

.uppercase {
  text-transform: uppercase;
}